@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
 
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.contenido{
    padding: 40px 150px 40px 150px;
}
.header>h1{
    padding-top: 30px;
}

.header img, .header h1 {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

.header h1{
    font-size: 30px;
    font-family: 'Secular One', sans-serif;
    padding-top: 35px;
}
 
.menu {
    background-color:  #ffffff;
    list-style: none;
    padding: 20px;
    text-align: right;
}
 
.menu li a {
    color: #12c72a;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-family: 'Secular One', sans-serif;
}
 
.menu li a:hover{
    opacity: 0.7;
}

#iniciarsesion:hover{
    opacity: 0.7;
}

.menu li {
    display: inline-block;
    padding-right: 30px;
}


form{
    background-color: #12c72ae7;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
 
form>div{
    padding: 25px;
}
 
.pregunta>a{
    display: flex;
    justify-content: center;
}

.botonLogin>button{
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.botonLogin{
    height: 95px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
 
label{
    color: #ffffff;
    font-family: 'Secular One', sans-serif;
    font-size: 23px;
}


#admin{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.menu li button>a {
    color: black;
}

@media screen and (max-width: 800px) {
    body {
        background-image: url(https://vietnam.travel/sites/default/files/styles/top_banner/public/2018-10/Banner%20mekong%20guide-7.JPG?itok=EL46q763);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }
    .menu {
        width: 100%;
        height: 80px;
        font-size: 15px;
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

    #iniciarsesion{
        padding-top: 19px;
    }
    .header{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
    }

    .menu li a {
        float: left;
    }

    .contenido{
        padding: 10px 60px 10px 60px;
    }

    #admin{
        height: 500px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1250px) {
    body {
        background-image: url(https://vietnam.travel/sites/default/files/styles/top_banner/public/2018-10/Banner%20mekong%20guide-7.JPG?itok=EL46q763);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }
    .menu {
        width: 100%;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 0px;
    }
    .menu li a div {
        float: left;
    }

    #admin{
        height: 500px;
        display: flex;
        justify-content: center;

    }
}

