*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagen/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    
    
}
 
.header img, .header h1 {
    float: left;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}
 
.menu {
    background-color: #12c72a;
    list-style: none;
    padding: 20px;
    text-align: right;
}
 
.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu li button>a {
    color: black;
}
.menu li a:hover{
    opacity: 0.7;
}
 
.menu li {
    display: inline-block;
    padding-right: 30px;
}

button:hover{
    opacity: 0.7;
}

#contenido{
    padding: 20px
    
   
}

#titulo{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #12c72a88;
    color: white;
    width: 200px;
    margin-left: 15%;
    border-radius: 15px;
    flex-direction: row;
    padding-top: 10px;
}

#historial{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left:   15%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 10px;
    margin-top: 10px;
    
}
#historial1{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 15%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    
}
#historial2{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 15%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    
}
#historial3{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 15%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
}
#historial4{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 55%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: -1102px;
    
}
#historial5{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 55%;;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    
}
#historial6{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 55%;;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    
}
#historial7{
    display: flex;
    justify-content: start;
    background-color: #12c72a88;
    width: 590px;
    margin-left: 55%;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    
}

#boton{
    padding-top: -20px;
}

@media screen and (max-width: 800px) {
    body {
        background-image: url(https://vietnam.travel/sites/default/files/styles/top_banner/public/2018-10/Banner%20mekong%20guide-7.JPG?itok=EL46q763);
        background-attachment: fixed;
        background-size:cover;
        background-position: center;
    }
    .header img, .header h1 {
        float: left;
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 20px;
        padding-top: 20px;
    }
     
    .menu {
        background-color: #12c72a;
        list-style: none;
        padding: 20px;
        text-align: right;
    }
     
    .menu li a {
        color: white;
        text-decoration: none;
        padding: 20px;
        display: block;
    }
     
    .menu li a:hover{
        opacity: 0.7;
    }
     
    .menu li {
        display: inline-block;
        padding-right: 30px;
    }
    
    button:hover{
        opacity: 0.7;
    }
    
    #contenido{
        padding: 20px
    }    

    #titulo{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        background-color: #12c72a88;
        color: white;
        width: 200px;
        margin-left: 15%;
        border-radius: 15px;
        flex-direction: row;
        padding-top: 10px;
    }
    
    #historial{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
        
    }
    #historial1{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
        
    }
    #historial2{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
        
    }
    #historial3{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
    }
    #historial4{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
        
    }
    #historial5{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
    }
    #historial6{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
        
    }
    #historial7{
        display: flex;
        justify-content: start;
        background-color: #12c72a88;
        width: 500px;
        margin-left: 5%;
        border-radius: 15px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 10px;
    }


}


