#encabezado {
    display: flex;
    padding: 20px;
}

h1{
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
}

#encabezado, h1{
    display: flex;
}


#menu{
    margin-left: 1100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}





body{
    background-image: url(https://vietnam.travel/sites/default/files/styles/top_banner/public/2018-10/Banner%20mekong%20guide-7.JPG?itok=EL46q763);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.card{
    float: left;
    margin: 30px 40px;
}

.card-title{
    background-color: rgb(19, 231, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}